body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.publisher-banner {
    background-image: url(../Images/publisher\ trams\ and\ condition.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #0e4c8a8b;
}

.advertiser-banner {
    background-image: url(../Images/adviser\ trams\ and\ condition.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #0e4c8a8b;
}

.publisher-header {
    padding: 140px 0 100px 0;
}

.publisher-header h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
}

/* ==== publisher text ==== */
.publisher {}

.publisher h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    height: 56px;
    width: 56px;
    color: #FFFFFF;
    background-color: red;
    border-radius: 50px;
    margin: -4px 0 0px 0;
}

.publisher h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    text-align: left;
    color: #000000;

}

.publisher p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;

}

.unique-paragraph {
    padding: 10px 15px;
    background: #F5F5F5;
}

ul {
    list-style: none;
}


@media only screen and (max-width: 667px) {
    .publisher-header {
        padding: 50px 0 50px 0;
    }

    .publisher-header h1 {
        font-size: 30px;
        line-height: 50px;
        color: #FFFFFF;
    }

    /* ==== publisher text ==== */
    .publisher h1 {
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        height: 40px;
        width: 50px;
        border-radius: 3px;
        margin: 0 0 20px 0;

    }

    .publisher h2 {
        font-weight: 600;
        font-size: 30px;
        line-height: 0px;
        padding: 0;
        margin: 30px 0 0 0;
    }
}

@media only screen and (max-width:991px) and (min-width:668px) {
    .publisher-header {
        padding: 70px 0 70px 0;
    }

    .publisher-header h1 {
        font-weight: 500;
        font-size: 45px;
        line-height: 55px;
    }

    /* ==== publisher text ==== */
    .publisher {}

    .publisher h1 {
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        height: 45px;
        width: 45px;

    }

    .publisher h2 {
        font-weight: 600;
        font-size: 40px;
        line-height: 45px;
    }

}

@media only screen and (max-width: 1200px) and (min-width:992px) {}