body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.smartlink-banner {
    background-image: url(../Images/smart\ link.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #0e4c8a8b;
}

.smartlink-header {
    padding: 140px 0 140px 0;
}

.smartlink-header h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
}

/* ==== SMARTLINK start ==== */
.smart-link-main {
    display: flex;
    justify-content: center;
}

.smart-link {
    background: #FFFFFF;
    padding: 50px 50px;
    border: 3px solid #121920;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
}


.smart-link h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #F22B37;
    line-height: 45px;
}

.android {
    margin: -65px 0 0 0;
    object-fit: contain;
}

.card-common {
    background: #FFFFFF;
    border: 2px solid #CBC5C5;
    border-radius: 24px;
    min-height: 650px;
}

.card-body {
    padding: 60px !important;
}

.card-body img {
    margin: auto;
    display: flex;
    width: 149px;
    height: 136px;
    object-fit: contain;
}

.card-body h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    color: #000000;
    padding: 40px 0 20px 0;
}

.card-body p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.smart {
    width: 70% !important;
    object-fit: contain;
    margin: auto;
}

/* ===== Top client smart link work  start ===== */
.top-work {
    margin-top: 10px;
    display: flex;
}

.left-border {
    border-left: 4px solid black;
    height: 523px;
    display: flex;
    align-items: center;
    margin-top: 154px;
}


.top-work-box {
    margin: 150px 0;
}

.top-work-box span {
    width: 50px;
    height: 3px;
    background-color: black;
    display: block;
    margin: -100px 0 0 0;

}

.top-work h1 {
    Font-family: 'Baloo Bhai 2', cursive;
    background: #F22B37;
    box-shadow: 10px 16px 26px rgba(241, 48, 60, 0.2);
    color: white;
    font-size: 150px;
    height: 210px;
    width: 210px;
    line-height: 70px;
    border-radius: 100%;
    margin: -100px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.top-work p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 50px;
    color: #121920;
    margin: -100px 0 0 50px;
}

.smart-box {
    display: flex;
    align-items: center;
}


@media only screen and (max-width: 667px) {
    .smartlink-header {
        padding: 50px 0 50px 0;
    }

    .smartlink-header h1 {
        font-size: 30px;
        line-height: 50px;
        color: #FFFFFF;
    }

    /* ==== SMARTLINK start ==== */
    .smart-link-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .smart-link-main span {
        display: none;
    }

    .smart-box {
        justify-content: center;
        margin-bottom: 30px;
    }

    .smart-link {
        padding: 30px 40px;
        width: 300px;
        height: 300px;
    }


    .smart-link h6 {
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
    }

    .android {
        margin: -35px 0 0 0;
        object-fit: contain;
    }

    /* card start */
    .card-common {
        border: 2px solid #CBC5C5;
        border-radius: 24px;
    }

    .card-one {
        margin-bottom: 30px !important;
    }

    .card-body {
        padding: 20px 10px !important;
    }

    .card-body img {
        width: 140px;
        height: 140px;
        margin-top: 15px;
    }

    .card-body h5 {
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        padding: 20px 0 70px 0;
    }

    .card-body p {
        width: 100% !important;
        text-align: justify;
    }

    .smart {
        width: 90% !important;
        margin: auto;
    }

    /* ===== Top client smart link work  start ===== */
    .top-work {
        margin-top: 60px;
        display: flex;
    }

    .left-border {
        border-left: 3px solid black;
        height: 261px;
        display: flex;
        margin-top: 80px;
    }

    .top-work-box {
        margin: 130px 0;
    }

    .top-work-box span {
        min-width: 20px;
        max-width: 20px;
        height: 3px;
        margin: -100px 0 0 -2px;

    }

    .top-work h1 {
        font-size: 25px;
        height: 30px;
        max-width: 30px;
        line-height: 30px;
        margin: -105px 0 0 0;

    }

    .top-work p {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        margin: -100px 0 0 20px;
    }
}


@media only screen and (max-width:991px) and (min-width:668px) {
    .smartlink-header {
        padding: 70px 0 70px 0;
    }

    .smartlink-header h1 {
        font-weight: 500;
        font-size: 45px;
        line-height: 55px;
    }


    /* ==== SMARTLINK start ==== */
    .smart-link-main {
        display: flex;
        justify-content: center;
    }

    .smart-link {
        padding: 30px 0px;
        width: 160px;
        height: 160px;
    }


    .smart-link h6 {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
    }


    .smart-link-main span {
        width: 20px;
    }

    .android {
        margin: -6px 0 0 0 !important;
        object-fit: contain;
    }

    .card-body {
        padding: 30px !important;
    }

    .card-body img {
        margin: auto;
        display: flex;
        width: 120px;
        height: 120px;
        object-fit: contain;
    }

    .card-body h5 {
        font-weight: 600;
        font-size: 30px;
        line-height: 50px;
        padding: 30px 0 0px 0;
    }

    .smart {
        width: 60% !important;
        object-fit: contain;
        margin: auto;
    }

    /* ===== Top client smart link work  start ===== */
    .top-work {
        margin-top: 0px;
        display: flex;
    }

    .left-border {
        border-left: 4px solid black;
        height: 262px;
        display: flex;
        align-items: center;
        margin-top: 77px;
    }


    .top-work-box {
        margin: 129px 0;
    }

    .top-work-box span {
        min-width: 40px;
        height: 4px;

    }

    .top-work h1 {
        font-size: 80px;
        height: 100px;
        max-width: 100px;
        line-height: 50px;
        margin: -100px 0 0 0;
    }

    .top-work p {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin: -100px 0 0 30px;
    }
}

@media only screen and (max-width: 1200px) and (min-width:992px) {

    /* ==== SMARTLINK start ==== */
    .smart-link-main {
        display: flex;
        justify-content: center;
    }

    .smart-link {
        padding: 40px 10px;
        width: 180px;
        height: 180px;
    }


    .smart-link h6 {
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
    }

    .android {
        margin: -25px 0 0 0;
        object-fit: contain;
    }

    .card-body {
        padding: 50px !important;
    }


    /* ===== Top client smart link work  start ===== */
    .top-work {
        margin-top: 00px;
        display: flex;
    }

    .left-border {
        border-left: 4px solid black;
        height: 364px;
        display: flex;
        align-items: center;
        margin-top: 103px;
    }


    .top-work-box {
        margin: 130px 0;
    }

    .top-work-box span {
        width: 40px;
        margin: -100px 0 0 0;

    }

    .top-work h1 {
        font-size: 100px;
        height: 150px;
        width: 150px;
        line-height: 50px;
        margin: -100px 0 0 0;

    }

    .top-work p {
        font-size: 20px;
        line-height: 30px;
        margin: -100px 0 0 50px;
    }
}